header {
    width: 100%;
    height: 220px;
    background:rgb(46,56,91);
}

body {
  background-color: rgb(125,181,213);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6em

}

/* Begin CSS For Jumbotron and Navigational Control */

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.header-left, .header-right {
  width: 100%;  
}

.header-left > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header-right {
    width: 100%;
    text-align: center;
}

#open {
    display: none;
}

.header-right > nav >a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(117,213,239);
}
nav > a {
    position: relative;
    display: inline-block;
    font-size: 13px;
    line-height: 40px;
    padding: 0 2em;
    -webkit-transition: all .3s ease;
}

nav > a:hover {
    background: rgb(117,213,239);
    color: rgb(46,56,91);
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    
    .box {
        width: 49%;
        margin-bottom: 5%;
    }

    ul li:nth-child(3) .box {
        clear: both;
    }

    ul li:nth-child(2n) .box {
        margin-right: 0;
        clear: right;
    }
}

/* Small monitor */
@media (max-width: 979px){
    nav > a {
        padding: 0 1.5em;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .container {
        width: 95%;
    }

    nav>a {
        padding: 0 2em;
    }

    h1 {
        padding: .5em 0;
    }

    .header-left, .header-right {
        width: 100%;
        text-align: center;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    body {
        padding: 0 .5em;
    }

    .container {
        width: 90%;
    }

    nav {
        height: 0;
        overflow: hidden;
        -webkit-transition: all .3s ease;
    }

    nav > a {
        padding: 0 1em;
        display: block;
        border-bottom: solid 1px rgba(255,255,255,.1);
    }

    .header-left, .header-right {
        width: 100%;
        text-align: center;
    }
}
    
    
/* Begin CSS For Main Part of Page Containing Carousel and Headings */

.welcome > h1 {
  text-align: center;
}

.height {
  height: 500px;
  margin-bottom: 100px;
}

.container {
  margin-bottom: 200px;
}
.mycarousel {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

.carousel-indicators {
  position: relative;
}

.carousel-control-prev-icon,  .carousel-control-next-icon {
  position: ;
}

.carousel-item > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#two {
  width: 600px;
  height: 600px;
}

.block1 {
  float:left;
  width:50%;
  border:5px solid #ccc;
  padding:10px;
  box-sizing:border-box;
}
.block2 {
  float:left;
  width:100%;
  border:5px solid #ccc;
  padding:10px;
  box-sizing:border-box;
}
.block3 {
  float:left;
  width: 33.3%;
  border:5px solid #ccc;
  padding:10px;
  box-sizing:border-box;
  border-spacing: 20px
}