body {
  background-color: rgb(122, 182, 215);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6em
}

.jumbotron {
  padding: 0;
  width: 100%;
  background-color: rgb(46, 56, 91);
  border-radius: 0;
  height: 200px;
}

.container-fluid {
  max-width: 100%;
}

#topnav {
  margin: auto;
  position: relative;
  top: 90px;
  left: 70px;
}

#topnav > a {
  font-size: 26px;
  color: rgb(117,213,239);
  margin: 5px;
}

#logo {
  width: 100%;
  height: 100%;
}

.height {
  height: 500px;
  margin-bottom: 100px;
}

.container {
  margin-bottom: 200px;
}
.mycarousel {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

.carousel-indicators {
  position: relative;
}

.carousel-control-prev-icon,  .carousel-control-next-icon {
  position: ;
}

.carousel-item > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#two {
  width: 600px;
  height: 600px;
}