.jumbotron {
  background-color: rgb(46, 56, 91);
  border-radius: 0;
}

.height {
  height: 500px;
  margin-bottom: 100px;
}

.mycarousel {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

.carousel-indicators {
  position: relative;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
