article {
	display: inline-block;
	vertical-align: middle;
	text-align: justify;
	border: 2px solid #ddd;
	margin: 15px;
	width: 600px;
}
.mycarousel {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

/* .carousel-indicators {
  position: relative;
}

.carousel-control-prev-icon,  .carousel-control-next-icon {
  position: ;
} */

.carousel-item > img {
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
  display: block;
}