.info {
	text-align: center;
}
.mycarousel {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

.carousel-item > img {
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
  display: block;
}


@media screen and (max-width: 480px) {

  .carousel-item > img {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  display: block;
}
  
}