.info {
	text-align: center;
}
.Carousel {
  width: 100%;
  height: 100%;
}



.carousel-item > img {
  margin-left: auto;
  margin-right: auto;
  height: 46%;
  width: 46%;
  display: block;
}



@media screen and (max-width: 480px) {

  .carousel-item > img {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  display: block;
}
  
}