header {
    width: 100%;
    height: 220px;
    background:rgb(46,56,91);
}

body {
  background-color: rgb(125,181,213);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6em


}

/* Begin CSS For Jumbotron and Navigational Control */

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.container {
    width: 100%;
    margin: 0 auto

}

.header-left, .header-right {
  width: 100%;  
}

.header-left > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header-right {
    width: 100%;
    text-align: center;
}

#open {
    display: none;
}

.header-right > nav >a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(117,213,239);
}
nav > a {
    position: relative;
    display: inline-block;
    font-size: 13px;
    line-height: 40px;
    padding: 0 2em;
    -webkit-transition: all .3s ease;
}

nav > a:hover {
    background: rgb(117,213,239);
    color: rgb(46,56,91);
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    
    .box {
        width: 49%;
        margin-bottom: 5%;
    }

    ul li:nth-child(3) .box {
        clear: both;
    }

    ul li:nth-child(2n) .box {
        margin-right: 0;
        clear: right;
    }
}

/* Small monitor */
@media (max-width: 979px){
    nav > a {
        padding: 0 1.5em;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .container {
        width: 95%;
    }

    nav>a {
        padding: 0 2em;
    }

    h1 {
        padding: .5em 0;
    }

    .header-left, .header-right {
        width: 100%;
        text-align: center;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    body {
        padding: 0 .5em;
    }

    .container {
        width: 90%;
    }

    nav {
        height: 0;
        overflow: hidden;
        -webkit-transition: all .3s ease;
    }

    nav > a {
        padding: 0 1em;
        display: block;
        border-bottom: solid 1px rgba(255,255,255,.1);
    }

    .header-left, .header-right {
        width: 100%;
        text-align: center;
    }
}
    
    
/* Begin CSS For Main Part of Page Containing Carousel and Headings */

.welcome > h1, h4 {
  text-align: center;
  color: white;
}

.picturecontainer { 
    background-image: url(PP_Photos/PPFrontWindowFromInside.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

 }

.height {
  height: 500px;
  margin-bottom: 100px;
}

.container {
  margin-bottom: 200px;
}
.mycarousel {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

.carousel-indicators {
  position: relative;
}

.carousel-control-prev-icon,  .carousel-control-next-icon {
  position: ;
}

.carousel-item > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#two {
  width: 600px;
  height: 600px;
}




#bottom {
  box-sizing: border-box;
  padding: 25px 0;
  min-height: 0vh;
}
#hours {
  color: white;
  text-align: center;


}

/* #bottom {
  background: #fff url(http://portfolio.queenofwhisks.com/demo/overlay/stripe-diagonal-broken.png);
} */

.ribbon-container {
  background: transparent !important;
  position: relative;
  z-index: 1;
}
.ribbon {
  background:rgb(46,56,91) url(http://portfolio.queenofwhisks.com/demo/overlay/noise.png);
  box-shadow: 2px 6px 12px rgba(0,0,0,0.5);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  line-height: 1.0;
  text-align: center;
  margin: 0 auto;
  padding: 0.25em 0;
  position: relative;
  width: 100%;
}
.ribbon:before,
.ribbon:after {
  border: 1.5em solid hsl(227, 32.8%, 26.9%);
  content: '';
  display: block;
  position: absolute;
  bottom: -1em;
  z-index: -1;
  color: rgb(117,213,239);
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
  box-shadow: -2px 2px 2px rgba(0,0,0,0.5);
}
.ribbon-content {
  border-top: 0.0625em dashed rgb(117,213,239);
  border-bottom: 0.0625em dashed rgb(117,213,239);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.08), inset 0px -1px 1px rgba(255,255,255,0.08), 0px -1px 1px rgba(255,255,255,0.2), 0px 1px 1px rgba(0,0,0,0.08);
  display: block;
  padding: 0.6875em 0;
  color: rgb(117,213,239);
}
.ribbon-content:before,
.ribbon-content:after {
  content: '';
  display: block;
  position: absolute;
  border-style: solid;
  border-color: hsl(0, 100%, 100%) transparent transparent transparent;
  bottom: -1em;
  color: rgb(117,213,239);
}
.ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
  color: rgb(117,213,239);
}
.ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
  color: rgb(117,213,239);
}
.ribbon a {
  color: rgb(117,213,239);
  font-size: 25px;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.25);
}
.ribbon a:hover {
  color: rgb(117,213,239);
}
.underpage {
  background: #f4f4f4 url(http://portfolio.queenofwhisks.com/demo/overlay/noise-paper.png);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
  box-sizing: border-box;
  font-family: Garamond, 'Goudy Old Style', Times, 'Times New Roman', serif;
  line-height: 1.5;
  margin: 0 auto;
  padding: 4.5em 1.5em 1.5em;
  position: relative;
  top: -4em;
  width: 90%;
  z-index: -1;
  text-align: center;
}
.underpage > a {
  margin-top: 50px;
  font-size: 30px;
  text-decoration: none;
  display: inline-block;
  color: rgb(46,56,91);
}
article
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    width: 625px;
    margin-right: 15px;
}