.container-fluid {
    padding: 0px;
    
}

.full-menu {
    background: white;
    border-radius: 5px;
}

#menuheading {
    text-align: center;
}

.row > div {
    padding: 5px;
    margin: 0px;
}
.card {
  
}

article
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    width: 625px;
    margin-right: 15px;
}
/*.block1 {
  border: 5px solid #ccc;
  box-sizing:border-box;
  margin: 0;
  
}

.block1 > h3, .block2 > h3, .block3 > h3 {
    font-size: 16px;
}

.block1 > p, .block2 > p, .block3 > p {
    font-size: 14px;
}

.block2 {
  border: 5px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;
}

.block3 {
  border: 5px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
}